@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

html,
body {
  margin: 0;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}
body::-webkit-scrollbar-thumb {
  background-color: blue;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid orange;  /* creates padding around scroll thumb */
}

li {
  margin-bottom: 30px;
  margin-left: 40px;
  margin-top: 25px;
  margin-right: 20px;
}
/* ------------- NAVIGATION BAR ---------------- */
.nav-list {
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
  background-color: #000;
  height: 50px;
  box-shadow: 0px 0px 10px var(--clr-gray200);
  margin: 0;
  padding: 1rem 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 900;
  z-index: 99;
}

.nav-item {
  list-style: none;
  margin-right: 2rem;
  color: #fff;
}

.nav-item a:hover {
  color: rgb(35, 187, 35);
}

.nav-item a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}

.line {
  border: #fff solid;
  border-width: 1px;
  border-color: #fff;
  height: 20px;
}

.nav-item:first-child {
  margin-right: auto;
  margin-left: 5rem;
}

.nav-item:nth-child(5) {
  margin-right: 6rem;
}

.logoIcon {
  filter: invert(100%);
}

.logoName {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo {
  flex-basis: 60px;
}

.name {
  font-size: 25px;
  width: 300px;
}

.nav-list2 {
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
  background-color: rgba(49, 49, 49, 0.8);
  height: 50px;
  box-shadow: 0px 0px 10px var(--clr-gray200);
  margin: 0;
  padding: 1rem 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 900;
  z-index: 99;
}

.nav-item2 {
  list-style: none;
  margin-right: 2rem;
  color: #fff;
}

.nav-item2 a:hover {
  color: rgb(35, 187, 35);
}

.nav-item2 a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}

.line {
  border: #fff solid;
  border-width: 1px;
  border-color: #fff;
  height: 20px;
}

.nav-item2:first-child {
  margin-right: auto;
  margin-left: 5rem;
}

.nav-item2:nth-child(6) {
  margin-right: 5rem;
}

.loggedIn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-basis: 120px;
}

.userLogo {
  flex-basis: 120px;
  margin-right: 10px;
}

.profile {
  font-size: 15px;
}

.arrow {
  margin-left: 10px;
  margin-top: 5px;
}

.modal-container {
  background-color: #fff;
  transition: 500ms ease-out;
  margin: 0;
  z-index: 99;
  position: absolute;
  top: 5%;
  bottom: 0;
  left: 87%;
  right: 0;
  height: 7%;
  width: 11%;
  border-radius: 5px;
  text-decoration: none;
}

.account p:hover {
  opacity: 0.5;
  cursor: pointer;
}

.account {
  padding: 2px 0px 5px 12px;
  /* text-decoration: none; */
}

/* ------------- HEADER ---------------- */
.header-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 250px;
  align-items: center;
  height: 1100px;
  background-color: #2941ab;
  color: #fff;
}

.title {
  font-size: 40px;
  font-weight: bold;
}

.playlistButton {
  text-align: center;
  margin-top: -30px;
}

.button {
  border: 1px #31b954 solid;
  border-radius: 50px;
  height: 50px;
  width: 250px;
  background-color: #31b954;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
}

button:focus {
  outline: 0;
}

.button:hover {
  cursor: pointer;
}

.headerContainer2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  height: 600px;
  background-color: #f2b858;
  color: #fff;
}

.title2 {
  font-size: 40px;
  font-weight: bold;
}

.playlistButton2 {
  text-align: center;
  margin-top: -30px;
}

.button2 {
  border: 1px #31b954 solid;
  border-radius: 50px;
  height: 50px;
  width: 250px;
  background-color: #31b954;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
}

.button2:focus {
  outline: 0;
}

.button2:hover {
  cursor: pointer;
}

/* ------------ Song INFO -------------*/
.albumCover {
  width: 380px;
}

.albumCover:hover {
  opacity: 0.7;
  cursor: pointer;
}

.songContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 150px;
}

.songSearch {
  border: #000 1px solid;
  border-radius: 50px;
  height: 50px;
  width: 250px;
  text-align: center;
}

.songSearch:focus {
  outline: 0;
}

.subtitle {
  margin-top: -60px;
}

.songList {
  display: flex;
  padding-top: 40px;
  flex-wrap: wrap;
  flex-basis: 34%;
  justify-content: center;
}

.mappedItems {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.songInfo {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
  flex-wrap: wrap;
  flex-basis: 33.333333%;
  width: 100%;
}

/* --------- PLAYLIST ----------*/
.lyricContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: #f2b858;
  color: #fff;
  height: 100%;
  width: 100%;
}

.lyricArtist {
  margin-top: -40px;
}

.lyricLyrics {
  box-sizing: border-box;
  text-align: center;
  align-items: center;
  line-height: 1.42857143;
  /* max-width: 75ch; */
  /* padding-right: 33%;
  padding-left: 33%; */
  white-space: pre;
}

/*------- PLAYLIST -------*/
.playlistContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  height: 250px;
}

.playlistBox {
  background-color: #f2b858;
  align-items: center;
  text-align: center;
  height: 120px;
  width: 500px;
  overflow: scroll;
  padding-left: 18px;
}

.playlistSongList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  /* background-color: orange; */
  height: 30px;
  width: 100%;
  /* overflow: scroll; */
}

.playlistHeader {
  background-color: #2941ab;
  width: 518px;
  text-align: center;
}

.playlistH1 {
  font-size: 20px;
  color: #fff;
}

.playlistImg {
  width: 20px;
}

.playlistTitle {
  margin-right: 5px;
}

.playlistAritst {
  margin-right: 15px;
}

.songTitle {
  font-weight: 800;
}

.deleteIcon {
  padding-right: 10px;
}

.deleteIcon:hover {
  cursor: pointer;
}

.playSong:hover {
  cursor: pointer;
}

/* ----------- AUDIO PLAYER -------------*/
.prev-button {
  background-color: red;
}

/* ----------- MOUSE SCROLL ------------*/
.mouse_scroll {
	display: block;
  position: fixed;
  top: 40%;
  right: 0;
	/* margin: 0 auto;
	width: 24px;
	height: 100px; */
	margin-right: 80px;
  cursor: pointer;
}


.m_scroll_arrows
{
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);

  border-right: 2px solid rgba(232, 232, 232, 1);
  border-bottom: 2px solid rgba(232, 232, 232, 1);
  margin: 0 0 3px 4px;

  width: 16px;
  height: 16px;
}


.unu
{
  margin-top: 1px;
}

.unu, .doi, .trei
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;

}

.unu
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;

  animation-direction: alternate;
  animation-delay: alternate;
}

.doi
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;

  animation-delay: .2s;
  animation-direction: alternate;

  margin-top: -6px;
}

.trei
{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;

  animation-delay: .3s;
  animation-direction: alternate;


  margin-top: -6px;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid rgba(232, 232, 232, 1);
  top: 170px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: rgba(232, 232, 232, 1);
  position: relative;

  height: 4px;
  width: 4px;
  border: 2px solid rgba(232, 232, 232, 1);
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@-o-keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
