body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}


/* ------------- NAVIGATION BAR ---------------- */
.nav-list {
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
  background-color: rgba(49, 49, 49, 0.8);
  height: 50px;
  box-shadow: 0px 0px 10px var(--clr-gray200);
  margin: 0;
  padding: 1rem 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-item {
  list-style: none;
  margin-right: 2rem;
  color: #fff;
}

.nav-item a:hover {
  color: rgb(35, 187, 35);
}

.nav-item a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}

.line {
  border: #fff solid;
  border-width: 1px;
  border-color: #fff;
  height: 20px;
  
}

.nav-item:first-child {
  margin-right: auto;
  margin-left: 5rem;
}

img {
  filter: invert(100%);
}

.logoName {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo {
  flex-basis: 60px;
}

.name {
  font-size: 25px;
  width: 300px;
}
